

.footer{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 20px;


}

footer{
    background-color: #7B899A;
}


.left{
    flex: 1 1;
}

.middle{
    flex: 2 1;

}

.smaller{
    width: 60%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.right{
    flex: 1 1;
    text-align: left;
}




.ckiLogos img{
    align-self: flex-end;
}

.footer img{
    width: 5vw;
    margin-right: 0.2vw;
    margin-left: 0.2vw;
}

.middleSection{
    align-self: flex-start;
    flex-direction: row;
    height: 70vh;
}

.bottomSection{
    align-self: flex-end;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.copyright{
    align-self: flex-start;
}

.ckiLogos{
}

.inline{
    display: inline;
}

.footerLogo{
    min-width: 100px;
    height: auto;
}

.socialMediaFooter{
    width: 5vw;
    margin-right: 0.2vw;
    margin-left: 0.2vw;
}