
.logo{
    max-width: 90px;
}


#blob{
    position: absolute;
    z-index: 0;
    top: 0;
    width: 110%;
    margin-left: -10%;
    margin-top: -152px;

}


#pan{
    position: absolute;
    z-index: 1;
    width: 60vw;
    height: auto;
    top: 0;
    left: 0;
}



.panel{
    height: 100vh;
    display: flex;
}


.footer{
    width: 100%
}


.topFormat{
    text-align: left;
    position: absolute;
    left: 50%;
    font-family: "Special Elite";
    z-index: 5;
    top: 22%;
}

.title {
    font-size: 8vw;

}


.learnMore{
    font-size: 3vw;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F09729;
    border: none;
    border-radius: 55px;
}


a{
    color: black;
    font-family: "Special Elite";
    font-size: 20px;

}

ul.nav a:hover{
    color: black !important;
    opacity: 70%;
    background: none;
}

.nav li{
    padding-top: 15px;
}

.nav{
    margin-right: 10px;
}

li:focus{
    background-color: none;
}


a:hover, button:hover{
    opacity: 70%;
}


#menuBtn{
    max-width: 30px;
    height: auto;
}
