

body{
    font-size: 20px;
}

html{
    scroll-behavior: smooth;
    transition-timing-function: ease;
}


.aboutUs{
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    width: 50vw;
    padding-bottom: 100px;

}


.homePageMainPanel{
    background: linear-gradient(180deg, rgba(242, 189, 29, 0.7) 0%, rgba(255, 122, 1, 0.7) 100%) !important;
}

.topFormat{
    text-align: left;
    position: absolute;
    left: 50%;
    z-index: 5;
    top: 26%;

}

.title {
    font-size: 9vw;
    animation-duration: 0.7s;

}

h1{
    font-size: 50px;
}


.learnMore{
    font-size: 3vw;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ED961E;
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.25));
    border: none;
    border-radius: 55px;
    animation-duration: 0.7s;
    color: black;

}



li:focus{
    background-color: none;
}


a:hover, button:hover{
    opacity: 60%;
    text-decoration: none;
    color: black;
    cursor:pointer;
}

#calnevha{
    max-width: 5.1vw
}

.middleSection{
    justify-content: space-evenly;

    height: 10em;

}

.bottomSection{
    align-self: flex-end;
    flex-direction: row;
    align-items: stretch;
}


.inline{
    display: inline;
}








.copyright{
    float: left;
    text-align: left;
}

.flatIcon{
    text-decoration: underline;

}

