
.aboutUs{
    position: absolute;
    z-index: 1;
    background: none;
    margin-left: auto;
    margin-right: auto;
}


.footer{
    width: 100%;
    font-size: 20px;
    font-family: "Nunito";
}

.homePageMainPanel{
    background: linear-gradient(180deg, rgba(242, 189, 29, 0.7) 0%, rgba(255, 122, 1, 0.7) 100%) !important;
}

.topFormat{
    text-align: left;
    position: absolute;
    left: 50%;
    z-index: 5;
    top: 22%;
}

.title {
    font-size: 8vw;
    animation-duration: 0.7s;
}


.learnMore{
    font-size: 3vw;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ED961E;
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.25));
    border: none;
    border-radius: 55px;
    animation-duration: 0.7s;
}


li:focus{
    background-color: none;
}


a:hover, button:hover{
    opacity: 60%;
}

#calnevha{
    max-width: 5.1vw
}

.middleSection{
    justify-content: space-evenly;

    height: 10em;

}

.bottomSection{
    align-self: flex-end;
    flex-direction: row;
    align-items: stretch;
}

.middleFooter{
    display: inline;
}

.inline{
    display: inline;
}

.footerLogo{
    min-width: 100px;
    height: auto;
}

.ckiLogos{
    float: right;
}

.footerContact{
    height: 2em;
    width: 10em;
}


.socialMediaFooter{

}



.copyright{
    float: left;
    text-align: left;
}

.flatIcon{
    text-decoration: underline;

}

.footerMid{
    margin-left: 2em;
    margin-right: 2em;
}