

body{
    font-size: 20px;
    max-width: 100%;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
    transition-timing-function: ease;
}


.aboutUs{
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    width: 50vw;
    padding-bottom: 100px;

}


.homePageMainPanel{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: linear-gradient(180deg, rgba(242, 189, 29, 0.7) 0%, rgba(255, 122, 1, 0.7) 100%) !important;
}

.topFormat{
    text-align: left;
    width: 50vw;

}


.leftCol{
    width: 45vw;
    height: 100vh;
}


.rightCol{
    display: flex;
    align-items: center;
}

#pan{
    width: 60vw;
    animation-duration: 0.4s;
    transition-timing-function: ease;
    margin-left: -20px;
    position: absolute;
    z-index: 0;

}




.title {
    font-size: 8vw;
    animation-duration: 0.7s;
    margin-top: -100px;

}

h1{
    font-size: 50px;
}


.learnMore{
    font-size: 3vw;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ED961E;
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.25));
    border: none;
    border-radius: 55px;
    animation-duration: 0.7s;
    color: black;

}



li:focus{
    background-color: none;
}


a:hover, button:hover{
    opacity: 60%;
    text-decoration: none;
    color: black;
    cursor:pointer;
}

#calnevha{
    max-width: 5.1vw
}

.middleSection{
    justify-content: space-evenly;

    height: 10em;

}

.bottomSection{
    align-self: flex-end;
    flex-direction: row;
    align-items: stretch;
}


.inline{
    display: inline;
}



.copyright{
    float: left;
    text-align: left;
}

.flatIcon{
    text-decoration: underline;

}



@media screen and (max-width: 640px){

    .topFormat{
        margin-top: 5vh;
        text-align: center;
    }

    #pan{
        margin-top: 0px;
        display: none;
    }

    .leftCol{
        height: 0px;
        width: 0px;
    }

    .homePageMainPanel{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

}


@media screen and (min-width: 641px) and (max-width: 1007px){

}